/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --bg-cover-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --main-font: IBM Plex Mono, monospace;
    --main-text-color: #353430;
    --accent-color: #FF8DCB;
    --text-color: #FFC2E6;
    --text-two-color: #353430;
    --header-shadow-color: #FF0070;
    --header-color: #FFC2E6;
    --bg-accent-color: #FF8DCB;
    --decoration-color:#353430;
    --button-color:#353430;
    --button-focus-color: #353430;
    --button-active-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --content-header-color:#FF8DCB;
    --link-color: #353430;
    --link-shadow-color: #FF8DCB;
    --link-focus-color: #F1B2CE;
    --link-hover-color: #F1B2CE;
    --footer-color: #FFC2E6;
    --footer-shadow: #FF0070;
    --section-title-color: #353430;
    --subtitle-color: #353430;
    --section-title__text: #353430;
    --title-img: #353430;
  }
  
  @media (width < 768px) {
    :root {
      --gap: 10px;
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      --bg-cover-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --main-font: IBM Plex Mono, monospace;
    --main-text-color: #353430;
    --accent-color: #FF8DCB;
    --text-color: #FFC2E6;
    --text-two-color: #353430;
    --header-shadow-color: #FF0070;
    --header-color: #FFC2E6;
    --bg-accent-color: #FF8DCB;
    --decoration-color:#353430;
    --button-color:#353430;
    --button-focus-color: #353430;
    --button-active-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --content-header-color:#FF8DCB;
    --link-color: #353430;
    --link-shadow-color: #FF8DCB;
    --link-focus-color: #F1B2CE;
    --link-hover-color: #F1B2CE;
    --footer-color: #FFC2E6;
    --footer-shadow: #FF0070;
    --section-title-color: #353430;
    --subtitle-color: #353430;
    --section-title__text: #353430;
    --title-img: #353430;
    }

    .header__rec {
      display: none;
    }
  }

  .theme_light .header__rec {
    display: none;
  }
