/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --bg-cover-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --main-font: IBM Plex Mono, monospace;
    --accent-color: #FF0070;
    --text-color: #DBOOFF;
    --text-two-color: #000;
    --header-shadow-color: #FF0070;
    --header-color: #DB00FF;
    --bg-accent-color: #FF0070;
    --decoration-color: #FF0070;
    --button-color: #FF0070;
    --button-focus-color: #FF0070;
    --button-active-color: #FF0070;
    --button-hover-color: rgba(255, 0, 112, 0.4);
    --content-header-color: #FF0070;
    --link-color: #F1B2CE;
    --link-shadow-color: #FF0070;
    --link-focus-color: #F1B2CE;
    --link-hover-color: #F1B2CE;
}
