/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-cover-image);
  background-color: var(--bg-color, #000028);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    block-size: 100vh;
    min-block-size: 668px;
    position: relative;
    padding-inline: 10px;
    padding-block: 10px;
    align-items: baseline;
}

@media (width >= 768px) {
    .header {
        padding-inline: 20px;
        padding-block: 20px;
    }
}


.decorated-zone {
    position:relative;
    &::before {
    content: "";
    right: 10px;
    top: 10px;
    position: absolute;
    border-top: 1px solid var(--decoration-color, #FF0070);
    border-right: 1px solid var(--decoration-color, #FF0070);
    width: 25px;
    height: 25px;
    }
    &::after {
    content: "";
    left: 10px;
    bottom: 10px;
    position: absolute;
    border-left: 1px solid var(--decoration-color, #FF0070);
    border-bottom: 1px solid var(--decoration-color, #FF0070);
    width: 25px;
    height: 25px;
    }
}

@media (width >= 768px) {
    .decorated-zone {
        &::before {
            top: 20px;
            right: 20px;
        }

        &::after {
            bottom: 20px;
            left: 20px;
        }
    }
}

.header__theme-menu {
    display: grid;
    justify-content: end;
    align-items: center;
    padding-block-start: 61px;
}

@media (width >= 1024px) {
    .header__theme-menu {
        justify-self: center;
        align-self: start;
        padding-block-start: 0;
    }
}
 
.header__theme-menu-list {
    display:flex;
    gap: 12px;
    flex-direction: column;
}

@media (width >= 768px) {
    .header__theme-menu-list {
        padding-block-start: 107px;
    }
}

@media (width >= 1024px) {
    .header__theme-menu-list {
        padding-block-start: 0;
        flex-direction: row;
    }
}

.header__rec {
    color: var(--bg-accent-color, #FF0070);
    font-family: var(--main-font, monospace);
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (width >= 768px) {
    .header__rec {
        top: 20px;
        right: 30px;
    }
}

.header__rec::after {
    content: "";
    box-shadow: 0 0 4px 2px var(--bg-accent-color, #FF0070);
    background-color: var(--bg-accent-color, #FF0070);
    display: inline-block;
    border-radius: 50%;
    inline-size: 9px;
    block-size: 9px;
    
}

.header__title {
    color: var(--header-color,#DB00FF);
    font-weight: 700;
    line-height: 84%;
    font-family: var(--main-font, monospace);
    text-shadow: 4px 4px 0 var(--header-shadow-color, #FF0070);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        margin-left: -20px;
    }
}

.title-decor {
    font-family: var(--main-font, monospace);
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    color: var(--text-two-color, #000);
    background-color:var(--bg-accent-color, #FF0070);
}

@media (width >= 768px) {
    .title-decor {
        margin-top: 0;
    }
}

.title-decor-why {
    font-family: var(--main-font, monospace);
        font-size: 18px;
        font-weight: 700;
        line-height: 130%;
        color: var(--text-two-color, #000);
        background-color:var(--bg-accent-color, #FF0070);
        margin-top: 20px;
}

@media (width >= 768px) {
    .title-decor-why {
            margin-top: 0;
    }
}

.title-decor-header {
    font-family: var(--main-font, monospace);
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    color: var(--text-two-color, #000);
    background-color:var(--bg-accent-color, #FF0070);
}

.decor-title_text {
    align-self: center;
}

@media (width >= 768px) {
    .decor-title_text {
        width: 50%;
        justify-self: end;
    }
}


.header__theme-menu-button {
    font-size: 18px;
    text-transform: lowercase;
    display: block;
    color: var(--button-color, #FF0070);
    font-family: var(--main-font, monospace);
    border: none;
    background-color: transparent;
    display: block;
    padding: 1px 13px;
    cursor: pointer;
}

.header__theme-menu-button:focus {
    outline:none;
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--button-focus-color, #FF0070);
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--button-hover-color,  rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button_active {
    pointer-events: none;
    outline: 1px solid var(--button-active-color, #FF0070);
}

.section-title__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    font-family: var(--main-font, monospace);
    color: var(--section-title__text, #F1B2CE);
}

.section-title__text-advice {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    font-family: var(--main-font, monospace);
    color: var(--section-title__text, #F1B2CE);
    margin-bottom: 20px;
}

@media (width >= 768px) {
    .section-title__text-advice {
        margin-bottom: 20px;
    }
}


.section__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    font-family: var(--main-font, monospace);
    color: var(--subtitle-color, #000028);
    background-color: var(--bg-accent-color, #FF0070);
    margin-bottom: 10px;
}

.section-article__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-article__list-why {
    display: flex;
    flex-direction: column;
    gap: 0;
}

@media (width >= 768px) {
    .section-article__list-why {
        gap: 20px;
    }
}

.section-article__list-causes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.section-article__list-text {
    gap: 20px;
}

.section-article__list-item {
    gap: 10px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-block-start: 40px;
    padding-inline: 10px;
}

@media (width >= 768px) {
    .main {
        margin-block-start: 60px;
        gap: 80px;
    }
}

article {
    display: flex;
    flex-direction:column;
    gap: 20px;
}

.section-article {
    @media (width >= 768px) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--gap, 20px);
        padding-inline: 10px;
    }

    @media (width >= 1024px) {
        grid-template-columns: repeat(3, 1fr);
        padding-inline: 10px;
    }
}

.causes {
    @media (width >= 768px) {
        & .section__title {
            grid-column: 1 / -1;
        }

        & .section-article__list {
            grid-column: 1 / -1;
        }
    }

    @media (width >= 1024px) {
        & .section-article__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.why,
.advices {
    @media (width >= 1024px) {
        & .section-article__list {
            grid-template-columns: 1fr 2.06fr;
            grid-column: span 2;
        }
    }
}

.section__title {
    color: var(--main-text-color, #FF0070);
    font-weight: 700;
    font-size: 18px;
    font-family: var(--main-font, monospace);
    line-height: 23.4px;
    margin-bottom: 20px;
}

@media (width >= 768px) {
    .section__title {
        margin-bottom: 0;
    }
}


.title-causes {
    color: var(--main-text-color, #FF0070);
    font-weight: 700;
    font-size: 18px;
    font-family: var(--main-font, monospace);
    line-height: 23.4px;
    max-width: 315px;
    margin-bottom: 20px;
}


@media (width >=768px) {
    .title-causes {
        max-width: 200px;
        margin-bottom: 0;
    }
}

@media (width >= 1024px) {
    .title-causes {
        max-width: 315px;
    }
}

.title-img {
    color: var(--title-img, #000028);
    background-color: var(--bg-accent-color);
    font-weight: 700;
    font-size: 18px;
    font-family: var(--main-font, monospace);
    line-height: 23.4px;
    max-width: 100%;
}

.text-link {
    text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
    text-decoration: none;
}

.text-link:focus {
    outline: none;
}

.text-link:focus-visible {
    outline: 1px solid var(--link-color, #F1B2CE);
}

.text-link:hover {
    border-block-end: 1px solid var(--link-color, #F1B2CE);
}

.section-images {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    gap: 10px;
}

@media (width >= 768px) {
    .section-images {
        gap: 20px;
        padding-inline: 10px;
    }
}

.section__image-item {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    gap:10px;
}

@media (width >= 768px) {
    .section__image-item {
        gap: 20px;
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "sunset sunset ice-cream"
        "tape books ice-cream"
        "tape street street";
    }

    .sunset {
        grid-area: sunset;
    }
    
    .tape {
        grid-area: tape;
    }
    
    .ice-cream {
        grid-area: ice-cream;
    }
    
    .books {
        grid-area: books;
    }
    
    .street {
        grid-area: street;
    }
}

.img-item {
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    block-size: 100%;
}

@media (width >= 768px) {
    .img-item {
        display: grid;
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "sunset sunset ice-cream"
        "tape books ice-cream"
        "tape street street";
        gap: 23px;
    }
}

.footer {
    position: relative;
    min-block-size: 668px;
    block-size: 100vh;
    place-items: center;
    display: grid;
    padding: 10px;
    margin-block-start: 40px;
}

@media (width >=768px) {
    .footer {
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        margin-block-start: 60px;
    }
}

.footer__title {
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
    color: var(--footer-color, #DB00FF);
    font-family: var(--main-font, monospace);
    text-shadow: 2px 2px 0 var(--footer-shadow, #FF0070);
}

@media (width >= 768px) {
    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}