/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-cover-image);
  background-color: var(--bg-color, #000028);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    block-size: 100vh;
    min-block-size: 668px;
    position: relative;
    margin-block-end: 40px;
    padding-block: 10px;
    align-items: center;
}




.decorated-zone {
    position:relative;
    &::before {
    content: "";
    right: 10px;
    top: 10px;
    position: absolute;
    border-top: 1px solid var(--decoration-color, #FF0070);
    border-right: 1px solid var(--decoration-color, #FF0070);
    width: 25px;
    height: 25px;
    }
    &::after {
    content: "";
    left: 10px;
    bottom: 10px;
    position: absolute;
    border-left: 1px solid var(--decoration-color, #FF0070);
    border-bottom: 1px solid var(--decoration-color, #FF0070);
    width: 25px;
    height: 25px;
    }
}

.header__theme-menu {
    display: flex;
    align-self: flex-start;
    justify-self: center;
}

.header__theme-menu-list {
    display:flex;
    gap: 10px;
}

.header__rec {
    color: var(--bg-accent-color, #FF0070);
    font-family: var(--main-font, monospace);
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__rec::after {
    content: "";
    box-shadow: 0 0 4px 2px var(--bg-accent-color, #FF0070);
    background-color: var(--bg-accent-color, #FF0070);
    display: inline-block;
    border-radius: 50%;
    inline-size: 9px;
    block-size: 9px;
    
}

.header__title {
    color: #DB00FF;
    font-weight: 700;
    line-height: 129.53px;
    font-family: var(--main-font, monospace);
    text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
    font-size: 157px;
    grid-row-start: 2;
    width: 759px;
    height: 130px;
}

.title-decor {
    font-family: var(--main-font, monospace);
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    color: var(--text-two-color, #000);
    background-color: #FF0070;
}
.decor-title_text {
    font-family: var(--main-font, monospace);
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    color: var(--text-two-color, #000);
    background-color: #FF0070;
    max-width: 491px;
    justify-self: end;
}

.header__theme-menu-button {
    font-size: 18px;
    text-transform: lowercase;
    display: block;
    color: var(--button-color);
    font-family: var(--main-font, monospace);
    border: 1px solid transparent;
    background-color: transparent;
}

.header__theme-menu-button:focus {
    outline:none;
}

.header__theme-menu-button:focus-visible {
    box-shadow: 0 1px 0 var(--link-shadow-color, #FF0070);
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--button-hover-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button_active {
    pointer-events: none;
    outline: 1px solid var(--button-active-color, #FF0070);
}

.section__title {
    color: var(--accent-color, #FF0070);
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    font-family: var(--main-font, monospace);
    max-inline-size: 312px;
}

.section-title__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    font-family: var(--main-font, monospace);
    color: var(--link-focus-color, #F1B2CE);
}

.title-decor-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    font-family: var(--main-font, monospace);
    color: var(--bg-color, #000028);
    background-color: var(--bg-accent-color);
}

.footer__title {
    font-weight: 700;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 95.7px;
    color: var(--text-color, #DB00FF);
    font-family: var(--main-font, monospace);
}

.section-article__list {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.section-article__list-item {
    gap: 10px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-block-start: 40px;
    padding-inline: 10px;
}

article {
    display: flex;
    flex-direction:column;
    gap: 20px;
}

.section-why {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: minmax(min-content, max-content);
}

.section-what {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-how {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: minmax(min-content, max-content);
}

.section__title {
    color: var(--main-text-color, #FF0070);
    font-weight: 700;
    font-size: 18px;
    font-family: var(--main-font, monospace);
    line-height: 23.4px;
}

.text-link {
    text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
    text-decoration: none;
}

.text-link:focus {
    outline: none;
}

.text-link:focus-visible {
    outline: 1px solid var(linl-color, #F1B2CE);
}

.text-link:hover {
    border-block-end: 1px solid var(--link-color, #F1B2CE);
}

.section-images {
    display: grid;
    grid-template-rows: minmax(min-content, max-content);
    gap: 20px;
}

.section-image__item {
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.sunset {
    grid-area: sunset;
}

.tape {
    grid-area: tape;
}

.ice-cream {
    grid-area: ice-cream;
}

.books {
    grid-area: books;
}

.street {
    grid-area: street;
}

.img-item {
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
    gap:23px;
}

.footer {
    position: relative;
    min-block-size: 668px;
    block-size: 100vh;
    place-items: center;
    display: grid;
    margin-block-start: 36px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}

