/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-width: 375px;
  background-image: var(--bg-cover-image);
  background-color: var(--bg-color, #000028);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr min-content 1fr;
    block-size: 100vh;
    min-block-size: 668px;
    position: relative;
    padding-inline: 10px;
    padding-block: 10px;
    margin-block-end: 40px;
}


.decorated-zone::after {
    content: "";
    bottom: 10px;
    left: 10px;
    position: absolute;
    
    block-size: 25px;
    inline-size: 25px;
}

.header__theme-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-block-end: 1vh;
}

.header__theme-menu-list {
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    grid-column-start: 2;
    grid-column-end: auto;
}

.header__rec {
    color: var(--bg-accent-color, #FF0070);
    font-family: var(--main-font, monospace);
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 20px;
}

.header__rec::after {
    content: "";
    box-shadow: 0 0 4px 2px var(--bg-accent-color, #FF0070);
    background-color: 0 0 4px 2px var(--bg-accent-color, #FF0070);
    display: inline-block;
    border-radius: 50%;
    inline-size: 9px;
    block-size: 9px;
    
}

.header__title {
    color: #DB00FF;
    font-weight: 700;
    line-height: 129.53px;
    font-family: var(--main-font, monospace);
    text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
    font-size: 157px;
    grid-row-start: 2;
    width: 759px;
    height: 130px;
}

.title-decor {
    font-family: var(--main-font, monospace);
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    color: var(--text-two-color, #000);
    grid-column-start: 3;
    grid-column-end: auto;
    grid-row-start: 3;
    grid-row-end: auto;
    background-color: #FF0070;
    height: 70px;
    width: 491px;
    justify-content: end;
}

.header__theme-menu-item

.header__theme-menu-button {
    font-size: 18px;
    text-transform: lowercase;
    display: block;
    color: var(--button-color);
    font-family: var(--main-font, monospace);
    border: 1px solid transparent;
    background-color: transparent;
}


.header__theme-menu-button_active {
    pointer-events: none;
}


.header__theme-menu-button_type_auto  .footer {
    block-size: 100vh;
    min-block-size: 668px;
}

.section__title {
    color: var(--accent-color, #FF0070);
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    font-family: var(--main-font, monospace);
}

.title-decor {
    color: var(--bg-color, #000028);
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    font-family: var(--main-font, monospace);
    background-color: var(--accent-color, #FF0070);
}

.section-title__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    font-family: var(--main-font, monospace);
    color: var(--link-focus-color, #F1B2CE);
}

.title-decor-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
    font-family: var(--main-font, monospace);
    color: var(--bg-color, #000028);
}

.footer__title {
    font-weight: 700;
    font-size: 157px;
    line-height: 129.53px;
    color: var(--text-color, #DB00FF);
    box-shadow: 0 0 4px 2px var(--bg-accent-color, #FF0070);
}